nav{
  background-image:
    linear-gradient(
      to right, 
      red, #f06d06
    );
}

body{
  background-image:
    linear-gradient(
      to top left, 
      darkred, orange
    );
}

.input-field input[type=text]:focus + label {
  color: green;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}

.input-field input[type=password]:focus + label {
  color: green;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}

.input-field input[type=email]:focus + label {
  color: green;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}

.card .card-image img{
 height: 418px;
}

.container{
  width: 90%;
}

button:focus{
  background-color: white;
}