nav{
  background-image:
    linear-gradient(
      to right, 
      red, #f06d06
    );
}


.gradient{
  background-image:
    linear-gradient(
      to right, 
      #FF4536, #f06d06
    );
}

body{
  background-image:
    linear-gradient(
      to top left, 
      darkred, orange
    );
}

label{
  color:#454544 !important;
}

.input-field input {
  border-bottom: 1px solid #454544;
  box-shadow: 0 1px 0 0 #454544;
}

.input-field input[type=text]:focus + label {
  color: #454544;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #454544;
  box-shadow: 0 1px 0 0 #454544;
}

.input-field input[type=password]:focus + label {
  color: #454544;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #454544;
  box-shadow: 0 1px 0 0 #454544;
}

.input-field input[type=email]:focus + label {
  color: #454544;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #454544;
  box-shadow: 0 1px 0 0 #454544;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #454544;
  box-shadow: 0 1px 0 0 #454544;
}

textarea.materialize-textarea:not([readonly]) {
  border-bottom: 1px solid #454544;
  box-shadow: 0 1px 0 0 #454544;
}

.active{
  color:#454544 !important;
}

.card .card-image img{
 height: 418px;
}

.container{
  width: 90%;
}

button:focus{
  background-color: #454544;
}